@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');



body{
    font-family: 'Rubik', sans-serif;
}




/* header nav */
header nav{
    font-weight: 500;
}

.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

.main-banner{
    background:linear-gradient(0deg, rgba(21,22,22,0.6502976190476191) 0%, rgba(0,0,0,0.5550595238095238) 100%), url(../img/main-banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
}

.main-banner span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.main-banner h1{
    font-size: 68px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 16px;
}

.main-banner p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.banner-btn a{
    font-weight: 400;
    font-size: 16px;
    padding: 12px 45px;
}

.approval-area{
    border-top: 1px solid #9ca2a0;
    margin-top: 200px;
}

.approval-content{
    border-right: 1px solid #9ca2a0;
}

.icon{
    font-size: 40px;
    color: #e73c3e;
}


/* about */
.about-image{
    position: relative;
    text-align: left;
    padding-right: 100px;
    padding-bottom: 100px;
}
.about-image img:nth-child(2){
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 1;
}

.experience{
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    max-width: 470px;
    margin: auto;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    padding: 40px;
    border-left: 2px solid #e73c3e;
}

.experience h1{
    font-size: 80px;
    font-weight: 400;
}

.experience p{
    font-size: 28px;
    font-weight: 400;
}

.about h3 {
        font-size: 36px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 16px;
    }

.about p {
        margin-bottom: 15px;
        line-height: 1.8;
        color: #606060;
        font-weight: 400;
        font-family: roboto,sans-serif;
        font-size: 16px;
    }

.about strong {
    font-size: 18px;
    color: #606060;
    font-weight: 400;
}    

.about ul{
    margin-top: 20px;
    margin-bottom: 25px;
}
/* people */

.people{
    background: #F9FAFB;
}

.people-text{
        margin-bottom: 45px;
}

.card{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 30px;
}

.card::before {
    position: absolute;
    content: "";
    height: 65%;
    width: 90%;
    background-color: #fdebeb;
    left: 0;
    right: 0;
    margin: auto;
    top: -110px;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}

.card .icon {
    margin-bottom: 20px;
    position: relative;
}

.card .icon i {
    display: inline-block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background-color: #fff;
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50px;
    -webkit-transition: .5s;
    transition: .5s;
}

.card:hover{
    transform: translateY(-12px);
}

.card:hover i{
    background: #e73c3e;
    color: #fff;
}

/* company */

.company-img{
    background-image: url(../img/company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

/* funding */

.form {
    padding: 50px 45px;
    background-color: #e73c3e;
}

.form-control{
    height: 50px;
}

.submit button{
    height: 50px;
}

.point1 .point-text1{
    position: relative;
    padding-left: 65px;
    margin-top: 30px;
}


.point1 .point-text1::before {
    width: 1px;
    height: 140%;
    background-color: #e73c3e;
    content: '';
    z-index: -1;
    position: absolute;
    left: 20px;
    top: 0;
}

.point1 .point-text1 span {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #f9fafb;
    border: 1px solid #e73c3e;
    text-align: center;
    font-size: 24px;
    color: #e73c3e;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

/* client */

.clients-item {
    background-color: #fff;
    box-shadow: 1px 14px 20px 0 rgb(231 60 62 / 9%);
    padding: 40px;
    position: relative;
    margin-bottom: 30px;
}

.clients-item .info {
    position: relative;
    padding-left: 75px;
    margin-bottom: 30px;
}

.clients-item .icon {
    position: absolute;
    top: 20px;
    right: 25px;
}

/* footer */

.footer-area {
    background-color: #111;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.single-footer-widget .logo img {
    margin-bottom: 25px;
}

.single-footer-widget {
    margin-bottom: 25px;
}

.single-footer-widget p {
    color: #fff;
    margin-bottom: 0;
}

.single-footer-widget .social {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.single-footer-widget .social li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}

.single-footer-widget .social li i{
    color: #fff;
    transition: .5s;
}

.single-footer-widget .social li i:hover {
    color: #e73c3e;
}

.single-footer-widget h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333535;
}

.single-footer-widget .quick-links li {
    list-style-type: none;
    margin-bottom: 18px;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.single-footer-widget .quick-links li a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.single-footer-widget .info-contact {
    position: relative;
    padding-left: 40px;
    margin-bottom: 22px;
}

.single-footer-widget .info-contact i {
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    top: 5px;
}

.single-footer-widget .info-contact span {
    font-size: 16px;
    color: #fff;
}

.single-footer-widget .info-contact a {
    color: #fff;
    display: block;
}

.copy-right-area{
    color: #292929;
}

/* media query */

@media only screen and (max-width: 767px){
.about-image img {
    width: 135%;
}

.about-image img:nth-child(2) {
    position: relative;
    right: 0;
    bottom: -12px;
}

.about-image .experience {
    width: 135%;
    position: relative;
    text-align: center;
    padding: 25px;
}

.company-img{
    height: 400px;
}
}

@media only screen and (max-width: 1024px){
    .company-img{
        height: 500px;
    }
}